@use "@fortawesome/fontawesome-free/css/all.min.css";

@import "bootstrap/scss/bootstrap";




body {
    background-color:  black!important;
  }


    ::-webkit-scrollbar{
        width: .4em;
        height: .5em;
    }

    ::-webkit-scrollbar-track{
        background: rgba(122, 15, 15, 0.141);
        border-radius: 100vw;
        margin-block: .5em;
    }

    ::-webkit-scrollbar-thumb{
        background: linear-gradient(90deg, red, black);
        border-radius: 100vw;
        border: .025em solid rgb(122, 15, 15);
        transition: .3 linear .3;
    }

    ::-webkit-scrollbar-thumb:hover{
        background: linear-gradient(90deg, black, red);   
    }